services:
  maierbox:
    env_file:
      - ./.env
    build: ./app
    restart: unless-stopped
    volumes:
      - socket_volume:/opt/maierbox/socket
      - static_volume:/opt/maierbox/static
      - media_volume:/opt/maierbox/media
  nginx:
    build: ./nginx
    restart: unless-stopped
    volumes:
      - socket_volume:/mnt/socket
      - static_volume:/mnt/static
      - media_volume:/mnt/media
    ports:
      - 80:80
    depends_on:
      maierbox:
        condition: service_healthy
        restart: true
volumes:
  socket_volume:
  static_volume:
  media_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/maierbox-media
