{% extends "base.html" %}
{% load static %}
{% block head %}
<title>View Image</title>
{% endblock %}
{% block body %}
<div class="webimage_root">
    <div class="webimage_container">
        <a href="{{ image.original.url }}">
            <img class="webimage" alt="{{ image.id }}" src="{{ image.get_scaled }}">
        </a>
    </div>
    <div class="webimage_details">
        <div class="webimage_uploaded">
            <span>Uploaded on {{ image.date_created.date }}</span><br>
            <span>by {{ image.uploader }}</span>
        </div>
        <div class="webimage_classifiers">
            <div class="webimage_category">
                {% if image.category %}
                <span>Category: <a href="{% url 'categories/view' image.category %}">{{ image.category }}</a></span>
                {% endif %}
            </div>
            <div class="webimage_tags">
                {% if image.tags.exist %}
                <span>
                {% for tag in image.tags.all %}
                    <a href="{% url 'tags/view' tag %}">{{ tag }}</a>
                {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}