{% extends "base.html" %}
{% load static %}
{% block head %}
<title>View Image</title>
{% endblock %}
{% block body %}
<div class="webimage_root">
    <div class="webimage_container">
        <a href="{{ image.original.url }}">
            <img class="webimage" alt="{{ image.id }}" src="{{ image.get_scaled }}">
        </a>
    </div>
    <div class="webimage_details">
        <div class="webimage_classifiers">
            <div class="webimage_category">
                {% if image.category %}
                <span>Category:<a href="{% url 'categories:view_images' image.category %}">{{ image.category }}</a></span>
                {% endif %}
            </div>
            <div class="webimage_tags">
                {% if image.tags.exists %}
                <span class="webimage_tags_label">Tags:</span>
                {% for tag in image.tags.all %}
                    <a class="webimage_tags_tag" href="{% url 'tags:view_images' tag.tag %}">{{ tag }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="webimage_delete_container">
            <a class="webimage_delete_button">Delete</a>
        </div>
        {% endif %}
        <div class="webimage_uploaded">
            <span>Uploaded on {{ image.date_created.date }}</span>
        </div>
    </div>
</div>
{% endblock %}