{% extends "base.html" %}
{% load static %}
{% block head %}
<title>View Album</title>
{% endblock %}
{% block body %}
<div class="album_root">
    <div class="album_title">
        <h2>{{ album.name }}</h3>
    </div>
    <div class="album_images_container">
        {% for image in album.images.all %}
        <div class="album_image_container">
            <a class="album_image_link" href="{% url 'images:view' image.id %}">
                <img class="album_image" loading="lazy" alt="{{ image.id }}" src="{{ image.thumbnail.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}