{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'lightbox.js' %}"></script>
<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if preview %}
<meta property="og:image" content="{{ preview }}" />
{% endif %}
<link rel="prefetch" href="{% static 'loading.svg' %}" />
{% endblock %}
{% block body %}
<div class="post_root">
    <div class="post_title">
        <h1>{{ title }}</h1>
    </div>
    <div class="post_date_container">
        <span class="post_date">{{ date }}</span>
    </div>
    {% if user.is_authenticated %}
    <div class="post_edit_container">
        <a class="post_edit_link" href="{% url 'posts:edit' id %}">Edit</a>
    </div>
    {% endif %}
    {% if content %}
    <div class="post_content_container">
        {% autoescape off %}
            {{ content }}
        {% endautoescape %}
    </div>
    {% endif %}
    {% if images %}
    <div class="album_images_container">
        {% for image in images %}
        <div class="album_image_container">
            <a class="album_image_link" href="{% url 'images:view' image.id %}">
                <img style="width: {{image.thumbnail.width}}px; height: {{image.thumbnail.height}}px;" class="album_image" loading="lazy" alt="{{ image.id }}" src="{{ image.thumbnail.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<script>
    let lightbox = new LightBox();
</script>
{% endblock %}