body {
    --preset--color--black: #010408;
    --preset--color--red: #e05050;
    --preset--color--base: #181716;
    --preset--color--contrast: #f9e0bf;
    --preset--color--primary: #f6b891;
    --preset--color--secondary: #3fdfe1;
    --preset--color--tertiary: #ea008b;
    --preset--font--family: 'IBM Plex Mono', monospace;
    --preset--font-size--small: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.227), 1rem);
    --preset--font-size--medium: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.227), 1.125rem);
    --preset--font-size--large: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 0.227), 1.875rem);
    --preset--font-size--x-large: 2.25rem;
    --preset--font-size--xx-large: clamp(2.032rem, 2.032rem + ((1vw - 0.2rem) * 2.896), 3.625rem);
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    background-color: var(--preset--color--base);
    color: var(--preset--color--contrast);
    font-family: var(--preset--font--family);
}

h1 {
    font-size: var(--preset--font-size--xx-large);
    font-weight: 400;
}

h2 {
    font-size: var(--preset--font-size--x-large);
    font-weight: 400;
}

h3 {
    font-size: var(--preset--font-size--medium);
    font-weight: 400;
}

hr {
    width: 85%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--preset--color--primary);
}

a {
    color: var(--preset--color--contrast);
    text-decoration: none;
}

a:hover {
    color: var(--preset--color--secondary);
}

button {
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--preset--color--base);
    color: var(--preset--color--primary);
    outline-style: outset;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

button:focus {
    background-color: var(--preset--color--black);
    outline-style: inset;
}

button:disabled  {
    color: var(--preset--color--black);
}

.buns {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--preset--color--black);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 32px;
}

.header_title {
    font-size: var(--preset--font-size--x-large);
    color: var(--preset--color--primary);
    line-height: 1.4;
}

.header_return_container {
    margin-right: 16px;
}

.header_return {
    font-size: var(--preset--font-size--large);
}

.homepage_container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 12%;
}

h1.homepage_title {
    margin: 12%;
}

h3.homepage_subtitle {
    font-family: var(--preset--font--family);
    font-size: var(--preset--font-size--medium);
    font-weight: 400;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 12%;
}

.homepage_buttons_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.homepage_button_container {
    width: 280px;
    height: 50px;
    display: flex;
    margin: 1%;
}

.homepage_button {
    width: 100%;
    height: 100%;
    outline-style: solid;
    outline-width: 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.homepage_button:hover {
    outline-color: var(--preset--color--secondary);
    color: var(--preset--color--secondary);
}

#watermark_creation {
    display: flex;
    justify-content: center;
}

#watermark_form {
    margin-top: auto;
    margin-bottom: auto;
}

#watermark_preview {
    height: 400px;
    width: 600px;
    border-color: var(--preset--color--black);
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
    overflow: auto;
    position: relative;
}

#watermark_details_container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: -1;
}

#watermark_details {
    display: grid;
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-size: larger;
    opacity: 50%;
}

#watermark_container {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: -2;
}

#watermark {
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: flex-end;
}

#watermark_preview_controls {
    justify-content: center;
    display: flex;
    margin: 5px;
}

.footer_title {
    width: 25%;
    text-align: left;
}

.footer_title_link {
    font-size: var(--preset--font-size--medium);
    text-decoration: none;
    color: var(--preset--color--primary);
}

.footer_attribution {
    color: var(--preset--color--primary);
    font-size: var(--preset--font-size--small);
}

.footer_icons_container {
    width: 25%;
}

.footer_icons {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: flex-end;
}

.footer_icon_item {
    list-style-type: none;
    width: 24px;
    height: 24px;
    text-decoration: none;
    background-color: var(--preset--color--primary);
    border-radius: 50%;
    margin-left: 24px;
}

.footer_icon_item :hover {
    background-color: var(--preset--color--secondary);
}

.footer_icon_link {
    border-radius: 50%;
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.footer_icon {
    width: 66%;
}

.webimage {
    max-width:100%;
    border-style: solid;
    border-width: 4px;
    border-color: var(--preset--color--black);
}

.webimage_container {
    width:100%;
    justify-content: center;
    display: flex;
}

.webimage_details {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.webimage_classifiers {
    display: block;
    width: 25%;
    text-align: left;
}

.webimage_category span a {
    color: var(--preset--color--primary);
    margin-left: 4px;
}

.webimage_category span a:hover{
    color: var(--preset--color--secondary);
}

.webimage_tags_tag {
    margin-left: 4px;
    color: var(--preset--color--primary);
}

.webimage_tags_tag:hover {
    color: var(--preset--color--secondary);
}

.webimage_admin_container {
    text-align: center;
}

.webimage_delete_button:hover {
    color: var(--preset--color--secondary);
    cursor: pointer;
}

.webimage_uploaded {
    text-align: right;
    width: 25%;
}

.webimage_tags {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.album_title {
    width: 100%;
    text-align: center;
}

.album_images_container {
    margin-top: 40px;
    padding: 2px;
    display: block;
    position: relative;
    columns: 3;
    column-fill: balance-all;
    column-gap: 0px;
    margin-bottom: 80px;
}

.album_image_container {
    position: relative;
    border-style: solid;
    border-width: 2px;
    outline-style: 2px;
    outline-style: solid;
    outline-color: var(--preset--color--black);
    border-color: var(--preset--color--black);
}

.album_image_link {
    display: flex;
    overflow: hidden;
}

.album_image {
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}

.album_image:hover {
    transform: scale(1.2);
    transition-duration: 2s;
    
}

.post_title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.post_content_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-indent: 60px;
}

.drop_zone_root {
    justify-content: space-between;
    width: 99%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 32% 32% 32%;
    margin: auto;
}

.drop_zone_container {
    grid-column: span 2;
    width: 100%;
}

.drop_zone {
    height: 700px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--preset--color--primary) var(--preset--color--base);
}

.drop_zone_sidebar_container {
    width: 100%;
}

.drop_zone_sidebar {
    display: flex;
    outline-style: solid;
    outline-width: 4px;
    border-radius: 10px;
    height: 660px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.drop_zone_left {
    background-color: var(--preset--color--base);
    
}

.drop_zone_entered {
    background-color: var(--preset--color--black);
}

.drop_zone_images_container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3%;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    align-content: flex-start;
    
}

.pending_image_container {
    aspect-ratio: 1;
    display: flex;
    background-color: var(--preset--color--black);
    margin: 5%;
    outline-color: var(--preset--color--primary);
    outline-style: solid;
    outline-width: 1px;
    border-radius: 20px;
    user-select: none;
    overflow: hidden;
    flex-direction: row-reverse;
}

.pending_image_image {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
    box-sizing: content-box;
}

.drop_zone_files {
    display: none;
}

.drop_zone_button_container {
    width: 98%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.pending_image_selected {
    outline-color: var(--preset--color--tertiary);
    outline-width: 4px;
    outline-style: solid;
}

.pending_image_delete {
    width: 14px;
    height: 14px;
    z-index: 1;
    position: absolute;
    background-color: var(--preset--color--base);
    padding: 4px;
    font-size: 12px;
    border-radius: 50%;
    border-color: var(--preset--color--red);
    border-style: solid;
    border-width: 2px;
    margin: 6px;
    color: var(--preset--color--red);
    text-align: center;
}

.pending_image_status_container {
    aspect-ratio: 1;
    border-radius: 20px;
    user-select: none;
    display: flex;
    width: 28%;
    z-index: 2;
    background-color: var(--preset--color--secondary);
    position: absolute;
    opacity: 50%;
    justify-content: center;
    align-items:center;
}

.pending_image_status_icon {
    font-size: 96px;
    color: var(--preset--color--tertiary);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
.pending_image_uploading_icon {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-weight:600;
    padding-right: 4px;
}

.sidebar_select {
    display: flex;
    grid-template-columns: auto auto;
    flex-wrap: nowrap;
    justify-content: center;
}

.sidebar_select_label {
    font-size: 24px;
    line-height: 36px;
    color: var(--preset--color--contrast);
    margin: auto;
}

.sidebar_select_select_container {
    display: flex;
    width: auto;
    flex-wrap: nowrap;
    margin: 8px;
}

.sidebar_select_select {
    background-color: var(--preset--color--base);
    color: var(--preset--color--primary);
    font-size: 20px;
    font-family: var(--preset--font--family);
    width: 120px
}

.category_select_select_incorrect {
    background-color: var(--preset--color--red);
}

.sidebar_select_button {
    height: 24px;
    width: 24px;
    line-height: 100%;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
    outline-style: none;
}

.sidebar_select_button:focus {
    outline-style: none;
}

.sidebar_select_refresh_text {
    line-height: 26px;
    width: 100%;
    height: 100%;
    display: block;
    transform-origin: center;
    transform: rotate(0.15turn);
}

.tag_select {
    display: inline;
}

.tag_select_label {
    margin: 0px;
}

.tag_select_select_container {
    justify-content:center;
}

.tag_select_collection {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.tag_select_tag_container {
    display: flex;
    flex-wrap: nowrap;
    outline-style: solid;
    outline-width: 2px;
    margin: 4px;
}

.tag_select_tag_text {
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
}

.tag_select_tag_remove {
    user-select: none;
    width: 20px;
    height: 20px;
    text-align: center;
}

.sidebar_setall {
    margin: 8px
}

.pending_post_container {
    width: 99%;
    display: block;
    margin: auto;
    outline-style: solid;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.pending_post_title_container {
    width: 99%;
    margin: auto;
}

.pending_post_title_content {
    font-size: var(--preset--font-size--large);
    background-color: var(--preset--color--base);
    border-radius: 10px;
    outline-style: solid;
    border-style: none;
    border-width: 4px;
    outline-color: var(--preset--color--primary);
    padding: 16px;
    margin-bottom: 20px;
    font-weight: normal;
}

.pending_post_title_content:focus-visible {
    outline-style: solid;
    border-style: none;
    outline-width: 4px;
}

.posts_index_title_container {
    width: 100%;
    text-align: center;
}

.posts_index_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.posts_index_post_container {
    margin-top: 40px;
    margin-bottom: 60px;
}

.posts_index_post_container a {
    text-decoration: none;
}

.posts_index_post_title {
    color: var(--preset--color--contrast);
    font-size: var(--preset--font-size--large);
    margin: 4px;
}

.posts_index_post_title:hover {
    color: var(--preset--color--secondary);
}

.posts_index_post_date {
    color: var(--preset--color--primary);
    font-size: var(--preset--font-size--small);
    margin: 4px;
}

.posts_index_post_content {
    color: var(--preset--color--contrast);
    font-size: var(--preset--font-size--medium);
    margin: 12px;
}

.posts_index_post_images_container {
    display: flex;
    height: 200px;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 2%;
}

.posts_index_post_image_container {
    max-height: 100%;
    aspect-ratio: 1;
    align-content: center;
    justify-content: center;
    margin: 2px;
    outline-style: solid;
    outline-color: var(--preset--color--black);
    outline-width: 4px;
    overflow: hidden;
}

.posts_index_post_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.categories_images_title_container {
    width: 100%;
    justify-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.categories_images_title {
    text-align: center;
    font-size: var(--preset--font-size--x-large);
}

.categories_images_root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category_image_container {
    position: relative;
    display: flex;
    aspect-ratio: 1;
    width: 30%;
    overflow: hidden;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    outline-color: var(--preset--color--black);
    outline-width: 4px;
    outline-style: solid;
    margin: 5%;
}

.category_image_container a {
    width: 100%;
    height: 100%;
}

.category_image_container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_image_container figcaption {
    position: absolute;
    z-index: 1;
    margin: 5%;
}

.category_image_container figcaption a {
    font-size: var(--preset--font-size--large);
    color: var(--preset--color--contrast);
    text-shadow:
        1px 1px var(--preset--color--black),
        -1px 1px var(--preset--color--black),
        -1px -1px var(--preset--color--black),
        1px -1px var(--preset--color--black);
}

.category_image_container figcaption :hover {
    color: var(--preset--color--secondary);
}
