{% extends "base.html" %}

{% block body %}
    <div class="auth_container">
        <div class="auth_panel">
            {% if validlink %}
                <h1 class="auth_title">Set a new password</h1>
                <p class="auth_message">Enter and confirm your new password.</p>
                <form class="auth_form" action="" method="post">
                {% csrf_token %}
                    <table class="auth_table">
                        <tr>
                            <td>{{ form.new_password1.label_tag }}</td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.label_tag }}</td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                    </table>
                    {% if form.new_password1.errors %}
                        <div class="auth_error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                    {% if form.new_password2.errors %}
                        <div class="auth_error">{{ form.new_password2.errors }}</div>
                    {% endif %}
                    <input type="submit" value="Change my password">
                </form>
            {% else %}
                <h1 class="auth_title">Password reset failed</h1>
                <p class="auth_message">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                <div class="auth_links">
                    <a href="{% url 'password_reset' %}">Request a new reset link</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
