{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Categories</title>
{% endblock %}
{% block body %}
<div class="categories_images_title_container">
    <h1 class="categories_images_title">Categories</h1>
</div>
<div class="categories_images_root">
    {% for category in categories %}
    <figure class="category_image_container">
        <a href="{% url 'categories:view_images' category.category %}">
            <img alt="category.category" src="{{ category.thumbnail.url }}">
        </a>
        <figcaption>
            <a href="{% url 'categories:view_images' category.category %}">{{ category.category }}</a>
        </figcaption>
    </figure>
    {% endfor %}
</div>
{% endblock %}