{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'watermarks/watermark.js' %}"></script>
<title>Create Watermark</title>
{% endblock %}
{% block body %}
<div id="watermark_creation">
    <div>
        <form action="{% url 'watermarks:add' %}" method="post" id="watermark_form">
            {% csrf_token %}
            <fieldset>
                <legend><h1>Create a watermark</h1></legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="text">Watermark Text</label>
                            </td>
                            <td>
                                <input type="text" id="watermark_text" name="text" onchange="update_watermark_preview(event);">
                            </td>
                        </tr>
                        </tr>
                            <td>
                                <label for="font">Font</label>
                            </td>
                            <td>
                                <select id="watermark_font" name="font" onchange="update_watermark_preview(event);">
                                {% for font in fonts %}
                                    <option value="{{ font.id }}" data-style="{{ font.style }}" data-family="{{ font.family }}">{{ font.name }}</option>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="size">Font Size</label>
                            </td>
                            <td>
                                <input type="number" id="watermark_size" name="size" onchange="update_watermark_preview(event);">
                            </td>
                        <tr>
                        </tr>
                            <td>
                                <label for="transparency">Transparency</label>
                            </td>
                            <td>
                                <input type="range" id="watermark_transparency" name="transparency" min="0" max="100" value="50" onchange="update_watermark_preview(event);">
                            </td>
                        <tr>
                    </tbody>
                </table>
            </fieldset>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="watermark_preview">
        <span id="watermark"></span>
    </div>
</div>
{% endblock %}