{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'watermarks/watermark.js' %}"></script>
<title>Create Watermark</title>
{% endblock %}
{% block body %}
<div id="watermark_creation">
    <div>
        <form action="{% url 'watermarks:add' %}" method="post" id="watermark_form">
            {% csrf_token %}
            <fieldset>
                <legend><h1>Create a watermark</h1></legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="watermark_text">Watermark Text</label>
                            </td>
                            <td>
                                <input type="text" id="watermark_text" name="text" onchange="update_watermark_preview();" value="Watermark">
                            </td>
                        </tr>
                        </tr>
                            <td>
                                <label for="watermark_font">Font</label>
                            </td>
                            <td>
                                <select id="watermark_font" name="font" onchange="update_watermark_preview();">
                                {% for font in fonts %}
                                    <option value="{{ font.id }}" data-style="{{ font.style }}" data-family="{{ font.family }}">{{ font.name }}</option>
                                {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="watermark_size">Font Size</label>
                            </td>
                            <td>
                                <input type="number" id="watermark_size" name="size" onchange="update_watermark_preview();" value="6">
                            </td>
                        <tr>
                        </tr>
                            <td>
                                <label for="watermark_transparency">Transparency</label>
                            </td>
                            <td>
                                <input type="range" id="watermark_transparency" name="transparency" min="0" max="100" value="80" onchange="update_watermark_preview();">
                            </td>
                        <tr>
                    </tbody>
                </table>
            </fieldset>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="watermark_preview_container">
        <div id="watermark_preview">
            <div id="watermark_details_container">
                <div id="watermark_details">
                    <!-- <span id="watermark_preview_size"></span> -->
                    <span id="watermark_preview_ratio"></span>
                </div>
            </div>
            <div id="watermark_container">
                <span id="watermark"></span>
            </div>
        </div>
        <div id="watermark_preview_controls">
            <select id="watermark_control_ratio" onchange="on_ratio_changed(event);">
            </select>
            <select id="watermark_control_orientation" onchange="on_ratio_changed(event);">
                <option>Landscape</option>
                <option>Portrait</option>
            </select>
        </div>
    </div>
</div>
<script>
    const resizeObserver = new ResizeObserver(on_preview_resize);
    let preview = document.getElementById("watermark_preview");
    resizeObserver.observe(preview);
    let ratio = document.getElementById("watermark_ratio");
    populate_ratios(watermark_control_ratio);
</script>
{% endblock %}