body {
    --preset--color--black: #010408;
    --preset--color--red: #e05050;
    --preset--color--base: #181716;
    --preset--color--contrast: #f9e0bf;
    --preset--color--primary: #f6b891;
    --preset--color--secondary: #3fdfe1;
    --preset--color--tertiary: #ea008b;
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    background-color: var(--preset--color--base);
    color: var(--preset--color--contrast);
    font-family: 'IBM Plex Mono', monospace;
}

header {
    font-size: 2.25rem;
    color: var(--preset--color--primary);
    font-weight: 400;
    text-decoration-color: var(--preset--color--primary);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    line-height: 1.4;
}

button {
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--preset--color--base);
    color: var(--preset--color--contrast);
    outline-style: outset;
    text-align:center;
    vertical-align:middle;
}

button:focus {
    background-color: var(--preset--color--black);
    outline-style: inset;
}

button:disabled  {
    color: var(--preset--color--black);
}

.buns {
    height: 180px;
    background-color: var(--preset--color--black);
    margin-top: 60px;
    margin-bottom: 60px;
}

#watermark_creation {
    display: flex;
    justify-content: center;
}

#watermark_form {
    margin-top: auto;
    margin-bottom: auto;
}

#watermark_preview {
    height: 400px;
    width: 600px;
    border-color: var(--preset--color--black);
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
    /* resize: both; */
    overflow: auto;
    position: relative;
}

#watermark_details_container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: -1;
}

#watermark_details {
    display: grid;
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-size: larger;
    opacity: 50%;
}

#watermark_container {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: -2;
}

#watermark {
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: flex-end;
}

#watermark_preview_controls {
    justify-content: center;
    display: flex;
    margin: 5px;
}

#footer_container {
    display: grid;
    justify-content: end;
    justify-items: end;
}

.webimage {
    max-width:100%;
}

.webimage_container {
    width:100%;
    justify-content: center;
    display: flex;
}

.webimage_details {
    column-count: 2;
    margin: 10px;
}

.webimage_classifiers {
    text-align: right;
}

.album_title {
    width: 100%;
    text-align: center;
}

.album_images_container {
    margin-top: 40px;
    padding: 2px;
    display: block;
    position: relative;
    columns: 3;
    column-gap: 0px;
    background-color: var(--preset--color--black);
    margin-bottom: 80px;
}

.album_image_container {
    margin: 0px;
    position: relative;
    padding: 2px;
}

.album_image_link {
    display: flex;
}

.album_image {
    outline-color: var(--preset--color--contrast);
    width: 100%;
    height: 100%;
}

.post_title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.post_content_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-indent: 60px;
}

.drop_zone_root {
    justify-content: space-between;
    width: 99%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 32% 32% 32%;
    margin: auto;
}

.drop_zone_container {
    grid-column: span 2;
    width: 100%;
}

.drop_zone {
    height: 700px;
    border-radius: 10px;
    outline-style: solid;
    outline-width: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--preset--color--contrast) var(--preset--color--base);
}

.drop_zone_sidebar_container {
    width: 100%;
}

.drop_zone_sidebar {
    outline-style: solid;
    outline-width: 4px;
    border-radius: 10px;
    height: 700px;
}

.drop_zone_left {
    background-color: var(--preset--color--base);
    
}

.drop_zone_entered {
    background-color: var(--preset--color--black);
}

.drop_zone_images_container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3%;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    align-content: flex-start;
    
}

.drop_zone_image_container {
    aspect-ratio: 1;
    display: flex;
    background-color: var(--preset--color--black);
    margin: 5%;
    outline-color: var(--preset--color--contrast);
    outline-style: solid;
    outline-width: 1px;
    border-radius: 20px;
    user-select: none;
    overflow: hidden;
    flex-direction: row-reverse;
}

.drop_zone_image {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: auto;
    box-sizing: content-box;
}

.drop_zone_files {
    display: none;
}

.drop_zone_button_container {
    width: 98%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.drop_zone_image_selected {
    outline-color: var(--preset--color--tertiary);
    outline-width: 4px;
    outline-style: solid;
}

.drop_zone_image_delete {
    width: 14px;
    height: 14px;
    z-index: 1;
    position: absolute;
    background-color: var(--preset--color--base);
    padding: 4px;
    font-size: 12px;
    border-radius: 50%;
    border-color: var(--preset--color--red);
    border-style: solid;
    border-width: 2px;
    margin: 6px;
    color: var(--preset--color--red);
    text-align: center;
}
