#drop_zone {
    height: 300px;
    width: 500px;
    border-color: grey;
    border-radius: 10px;
}

.drop_zone_left {
    background-color: lightgray;
    border-style: outset;
    
}

.drop_zone_entered {
    background-color: lightblue;
    border-style: inset;
}

#watermark_creation {
    display: flex;
}

#watermark_form {
    margin-top: auto;
    margin-bottom: auto;
}

#watermark_preview {
    height: 400px;
    width: 600px;
    border-color: black;
    border-style: solid;
    margin-top: auto;
    margin-bottom: auto;
    resize: both;
    overflow: auto;
    position: relative;
}

#watermark_container {
    height: 100%;
    width: 100%;
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: -1;
}

#watermark_details_container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

#watermark_details {
    display: grid;
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-size: larger;
}

#watermark {
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: flex-end;
}