<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <script src="{% static 'base.js' %}"></script>
        {% block head %}
            <title>Your Mom's Haus 2</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="header_container" class="buns">
                <a href="/">Retrontology</a>
            </div>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <div id="footer_container" class="buns">
                {% block footer %}
                <span>Author: Cullen Knight</span>
                <span><a href="mailto:retrontology@gmail.com">retrontology@gmail.com</a></span>
                <span>Powered by <a href="https://github.com/retrontology/MaierBox">MaierBox</a></span>
                {% endblock %}
            </div>
        </footer>
    </body>
</html>