{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'images/delete.js' %}"></script>
<title>View Image</title>
<meta property="og:title" content="View Image" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="{{ preview }}" />
{% endblock %}
{% block return %}
    {% if referer != None %}
    <div class="header_return_container">
        <a class="header_return" id="header_return" href="{{ referer }}">Return</a>
    </div>
    {% endif %}
{% endblock %}
{% block body %}
<div class="webimage_root">
    <div class="webimage_container">
        <a href="{{ image.original.url }}">
            <img class="webimage" alt="{{ image.id }}" src="{{ image.get_scaled }}">
        </a>
    </div>
    <div class="webimage_details">
        <div class="webimage_classifiers">
            <div class="webimage_category">
                {% if image.category %}
                <span>Category:<a href="{% url 'categories:view_images' image.category %}">{{ image.category }}</a></span>
                {% endif %}
            </div>
            <div class="webimage_tags">
                {% if image.tags.exists %}
                <span class="webimage_tags_label">Tags:</span>
                {% for tag in image.tags.all %}
                    <a class="webimage_tags_tag" href="{% url 'tags:view_images' tag.tag %}">{{ tag }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="webimage_admin_container">
            <a class="webimage_delete_button" onclick="delete_button_clicked('{{ image.id }}')">Delete</a>
        </div>
        {% endif %}
        <div class="webimage_uploaded">
            <span>Uploaded on {{ image.date_created.date }}</span>
        </div>
    </div>
</div>
{% endblock %}