{% extends "base.html" %}
{% load static %}
{% block head %}
<title>{{ name }}</title>
{% endblock %}
{% block body %}
<div class="post_root">
    <div class="post_title">
        <h1>{{ name }}</h1>
    </div>
    {% if content %}
    <div class="post_content_container">
        {% for paragraph in content %}
        <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if images %}
    <div class="album_images_container">
        {% for image in images %}
        <div class="album_image_container">
            <a class="album_image_link" href="{% url 'images:view' image.id %}">
                <img class="album_image" loading="lazy" alt="{{ image.id }}" src="{{ image.thumbnail.url }}">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}