name: Deploy on Pi

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: self-hosted
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build Images
        id: build
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: docker compose build

      - name: Deploy to Pi
        id: deploy
        run: docker compose up -d
